@import '../../styles/variables.css';

/* --- Grid --- */
.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
}

.maxwidth-wrap {
  max-width: 1200px;
  margin: 0 auto;
}

#header {
  grid-area: header;
  text-align: center;
  position: relative;
  transition: 0.3s ease all;
}

#main {
  grid-area: content;
  text-align: center;
  padding: 0;
  margin: 0;
}

#footer {
  grid-area: footer;
  padding: 0;
  text-align: left;
}



/* --- container style --- */
.head-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-direction: row;
  padding: 1rem 1rem 0;
  z-index: 1000;
  background-color: rgba(255,255,255,1);
  width: 100%;
  transition: 0.3s ease all;
}

.head-container:hover {
  background-color: rgba(255,255,255,1);
}

.head-container li {
  list-style-type: none;
}

.head-container li a {
  text-decoration: none;
  color: #222;
  transition: 0.3s ease all;
  padding: 0 0 3px;
  border-bottom: 3px solid rgba(0,0,0,0);
  font-weight: 600;
}

.head-container li a:hover {
  color: rgb(98, 98, 98);
  border-bottom: 3px solid #a2a2a2;
}

.logo {
  margin: 0.5rem 0 0;
  font-weight: 300;
}

.logo-wrap {
  text-align: left;
}

.logo-wrap p {
  margin: 0 0 0.5rem;
  font-size: 0.6rem;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.nav-ul {
  display: flex;
  margin-top: 2rem;
}

.nav-ul li {
  padding: 0 1rem;
}

.main-container {
  text-align: left;
  padding: 0;
}

.footer {
  text-align: center;
  color: #222;
  font-size: 0.6rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 0 0 2rem;
}

.footer a {
  border-bottom: 3px solid #fff;
}

.footer a:hover {
  border-bottom: 3px solid #a2a2a2;
}


@media (max-width: 550px) {
  .head-container {
    flex-direction: column;
  }

  .logo-wrap {
    text-align: center;
  }

}