@import '../../styles/variables.css';

/* --- Grid --- */
.app {
  min-height: 100vh;
  display: grid;
  grid-template-areas:
  "header"
  "content"
  "footer";
  grid-template-rows: auto 1fr auto;
}

.maxwidth-wrap {
  max-width: 1200px;
  margin: 0 auto;
  /* width: 100%; */
}


#header {
  grid-area: header;
  padding: 1rem;
  text-align: center;
  position: relative;
  background-color: $black;
  transition: 0.3s ease all;

  &:hover {
    background-color: $white;
  }
}

#main {
  grid-area: content;
  text-align: center;
  padding: 0;
  margin: 0;
}

#footer {
  grid-area: footer;
  padding: 0;
  text-align: left;
}



/* --- container style --- */
.head-container {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  flex-direction: row;
  top: 3%;
  left: 50%;
  transform: translate(-50%, 0%);
  position: fixed;
  z-index: 1000;
  /* background-color: $yellow; */
  width: 100%;
  
  li {
    list-style-type: none;

    a {
      text-decoration: none;
      color: $black;
      transition: 0.3s ease all;
      padding: 0 0 3px;
      border-bottom: 3px solid rgba(0,0,0,0);
      font-weight: 600;
    }
    
    a:hover {
      color: rgb(98, 98, 98);
      border-bottom: 3px solid $yellow;
    }
  }
}

.nav-ul {
  display: flex;
  margin-top: 2rem;

  li {
    padding: 0 1rem;
  }
}

.main-container {
  text-align: left;
  padding: 0;
  margin-top: 5rem;
}

.footer {
  text-align: center;
  color: $gray;

  a {
    border-bottom: 3px solid $white;
  }
  
  a:hover {
    border-bottom: 3px solid $red;
  }
}